@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body{
    margin: 0 auto;
}

.perfil{
    background-color: #2f61b0;
    padding-top: 80px;

}

.perfil .foto-perfil{
    display: flex;
    justify-content: center;
    align-items: center;
}

.perfil .foto-perfil img{
    width: 180px;   
    border: 1px solid #2f61b0;
    border-radius: 100px;     
}

.perfil h3{
    margin: 60px;
    font-size: 14px;
    text-align: center;
    color: white;
}

.perfil .meus-contatos h3{
    margin-bottom: 7%;
    font-family: 'Open Sans', sans-serif;
    font-size: 10pt;
    padding-right: 8%;
    letter-spacing: 3.5px;
}

.perfil .meus-contatos .endereco {
    display: flex;
    justify-content: center;
    align-items: center;
}
.perfil .meus-contatos .endereco i{
    color: white;
}

.perfil .meus-contatos .endereco p {
    font-size: 8pt;
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding-left:15%; 
    padding-bottom: 7%;
}

.perfil .meus-contatos .email {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.perfil .meus-contatos .email p {
    font-size: 8pt;
    color: white;
    font-family: 'Open Sans', sans-serif; 
    padding-bottom: 4%;
    padding-left: 3%;
}


.perfil .meus-contatos .github{
    display: flex;
    justify-content: center;
    align-items: center;
}

.perfil .meus-contatos .github p {
    font-size: 8pt;
    color: white;
    font-family: 'Open Sans', sans-serif; 
    padding-bottom: 0%;
    padding-left: 15%;
}

.perfil .meus-contatos .linkedn p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding-bottom: 2%;
    font-size: 8pt;
    padding-right: 12%;
 }

.perfil .habilidades h3 {
    font-family: 'Open Sans', sans-serif;
    color: white;
    padding-right: 17%;
    letter-spacing: 3.5px;
}

.perfil .habilidade-group h4 {
    font-family: 'Open Sans', sans-serif;
    color: white;
    padding-left: 23%;
    padding-bottom:6%; 
    letter-spacing:3.5px;
    font-size: 10pt;
}

.perfil .habilidade-group li{
    color: white;
    font-size: 8pt;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 10%;
    padding-left: 25%;
}


.perfil .habilidade-group ul{
    list-style: ;
}
/*trabalhei até aqui*/