@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body{
    margin: 0 auto;
}

.perfil{
    background-color: #2f61b0;
    padding-top: 80px;

}

.perfil .foto-perfil{
    display: flex;
    justify-content: center;
    align-items: center;
}

.perfil .foto-perfil img{
    width: 180px;   
    border: 1px solid #2f61b0;
    border-radius: 100px;     
}

.perfil h3{
    margin: 60px;
    font-size: 14px;
    text-align: center;
    color: white;
}

.perfil .meus-contatos h3{
    margin-bottom: 7%;
    font-family: 'Open Sans', sans-serif;
    font-size: 10pt;
}

.perfil .meus-contatos .endereco {
    display: flex;
    justify-content: center;
    align-items: center;
}

.perfil .meus-contatos .endereco p {
    font-size: 7pt;
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin-left: 40px; 
    padding-bottom: 7%;
}

.perfil .meus-contatos .email {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.perfil .meus-contatos .email p {
    font-size: 7pt;
    color: white;
    font-family: 'Open Sans', sans-serif; 
    padding-bottom: 4%;
}


.perfil .meus-contatos .github{
    display: flex;
    justify-content: center;
    align-items: center;
}

.perfil .meus-contatos .github p {
    font-size: 8pt;
    color: white;
    font-family: 'Open Sans', sans-serif; 
    padding-bottom: 0%;
    padding-left: 48px;
}

.perfil .meus-contatos .linkedn p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding-bottom: 4px;
 
    
}

/*trabalhei até aqui*/
